/* Preset Application Styles */
:root{
  --white: #FFF;
  --dark: #0B0C10;
  --dark-secondary: #1F2833;
  --light-blue: #66FCF1;
}

body{
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

/* Home Route Styles */
.home{
  position: relative;
  height: 100vh;
  background: linear-gradient(135deg, var(--dark-secondary) 40%, var(--dark) 60%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home h1{
  color: var(--light-blue);
  font-size: 8rem;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 17px 17px 30px black;
  opacity: 0;
  animation: fadeTextIn 3s ease 1 forwards;
}

.home h1::after{
  content: "";
  min-width: 100px;
  min-height: 4px;
  display: block;
  background-color: var(--light-blue);
  /* box-shadow: 0px 0px 15px #66FCFc; */
}

.home h1:hover::after, .home h1:hover::before{
  background-color: var(--dark-secondary);
}

.home h6{
  color: var(--white);
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  opacity: 0;
  animation: fadeTextIn 3s ease 1s 1 forwards;
  margin: 20px;
}

.homeNav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--light-blue);
  opacity: 0;
  animation: fadeTextIn 3s ease 2s 1 forwards;
}

@keyframes fadeTextIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

/* About Route Styles */

.about{
  background: linear-gradient(135deg, var(--dark-secondary) 40%, var(--dark) 60%);
  height: 100vh;
}

/* Projects Route Styles */

.projects{
  background: linear-gradient(135deg, var(--dark-secondary) 40%, var(--dark) 60%);
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: initial;
  gap: 10px;
}

.projectDisplayer{
  width: 500px;
  height: 350px;
  border: 3px solid white;
  border-radius: 10px 0px 10px 0px;
  overflow: hidden;
  object-fit: contain;
  margin: auto;
  /* display: flex; */
}

.projectDisplayer:hover  {
  border: none;
}


/* GlassButton Styles */
.glass{
  position: relative;
  color: var(--white);
  width: 200px;
  margin: 20px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);  
  backdrop-filter: blur(5px);
  overflow: hidden;
}

.glass:active{
  border-style: outset;
}

.glass::before{
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 1s;
}

.glass:hover::before {
  transform: skewX(45deg) translateX(200%);
}

/* Medium Media  */
@media only screen and (max-width: 768px) {
  .home > h1{
    color: var(--light-blue);
    font-size: 4rem;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeTextIn 3s ease 1 forwards;
    text-align: center;
  }
}